body {
    background-color: hsl(162, 61%, 74%);
    font-family: sans-serif;
}

h1 {
    font-size: 3rem;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
}

h2 {
    background-color: hsl(165, 50%, 50%);
    font-size: 2rem;
    }


    h3{
    background-color: hsl(172, 50%, 65%);
    color:rgb(17, 126, 17);
    font-size: 1.5rem;
    }

blockquote {
        font-style: oblique;
    }


pre {
        background-color: rgb(240, 255, 28);
        font-size: 1rem;
        font-weight: bold;
    }
    
address {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: normal;
        text-align: right;
    }

